<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Bx</title>
  <link rel="stylesheet" href="//basscss.com/docs/css/base.min.css">

  <script src="bower_components/webcomponentsjs/webcomponents.min.js"></script>

  <!-- Layout Components -->
  <link rel="import" href="components/media.html">
  <link rel="import" href="components/row.html">
  <link rel="import" href="components/column.html">
  <link rel="import" href="components/flex.html">

  <!-- Form Components
  <link rel="import" href="components/radio-button.html">
  -->
  <link rel="import" href="components/button.html">
  <link rel="import" href="components/nav-item.html">

  <!-- App Components -->
  <link rel="import" href="components/message.html">
  <link rel="import" href="components/badge.html">
  <link rel="import" href="components/menu.html">
  <link rel="import" href="components/panel.html">

</head>
<body class="container px2">

<header class="py4">
  <h1 class="h1 h1-responsive xcaps m0">Bx</h1>
</header>


<%= body %>


<script src="/js/app.min.js"></script>

</body>
</html>
