
<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="bx-media" attributes="center" noscript>

  <template>
    <link rel="stylesheet" href="../css/flex-object.css">
    <style>
      :host { display: block }
      figure { margin: 0 1rem 0 0 }
    </style>

    <div class="flex {{ center ? 'flex-center' : '' }}">
      <figure>
        <content select="img, svg, picture"></content>
      </figure>
      <div class="flex-auto">
        <content></content>
      </div>
    </div>

  </template>

</polymer-element>
