
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="color-states.html">

<polymer-element name="bx-message" attributes="state dismiss" noscript>

  <template>
    <link rel="stylesheet" href="../css/utility.css">
    <link rel="stylesheet" href="../css/color.css">
    <style>
      :host { display: block }
    </style>
    <bx-color-states state="{{ state }}" colorclass="{{ colorclass }}"></bx-color-class>

    <div class="bold p2 mb2 rounded {{ colorclass }}">
      <content></content>
    </div>

  </template>

</polymer-element>
