
<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="bx-nav-item" attributes="active color big narrow" extends="a">

  <template>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/utility.css">
    <link rel="stylesheet" href="../css/color.css">
    <style>
      :host { display: inline-block }
    </style>

    <span class="block button
      button-nav-{{ color }}
      {{ active ? 'darken-1 is-active' : '' }}
      {{ narrow ? 'button-narrow' : '' }}
      {{ big ? 'button-big' : '' }}">
      <content></content>
    </span>

  </template>

  <script>
    Polymer({
      active: false,
      color: 'light',
      big: false,
      narrow: false,
    })
  </script>

</polymer-element>
