
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="color-states.html">

<polymer-element name="bx-panel" attributes="state">

  <template>
    <link rel="stylesheet" href="../css/utility.css">
    <link rel="stylesheet" href="../css/flex-object.css">
    <link rel="stylesheet" href="../css/color.css">
    <style>
      :host { display: block }
    </style>
    <bx-color-states state="{{ state }}" colorclass="{{ colorclass }}"></bx-color-states>

    <section class="flex flex-column border rounded">
      <header class="bold p2 {{ colorclass }} {{ hasHeader ? '' : 'display-none' }}">
        <content id="headercontent" select="header"></content>
      </header>
      <footer class="flex-last p2 border-top bg-lighter-gray {{ hasFooter ? '' : 'display-none' }}">
        <content id="footercontent" select="footer"></content>
      </footer>
      <div id="main" class="p2">
        <content></content>
      </div>
    </section>
  </template>

  <script>
    Polymer({
      state: '',
      hasHeader: false,
      hasFooter: true,
      ready: function() {
        this.hasHeader = this.$.headercontent.getDistributedNodes().length > 0;
        this.hasFooter = this.$.footercontent.getDistributedNodes().length > 0;
      }
    });
  </script>

</polymer-element>
